<style>
    html,
    body,
    header,
    .view {
        height: 100%;
    }

    @media (min-width: 851px) and (max-width: 1440px) {

        html,
        body,
        header,
        .view {
            height: 850px;
        }
    }

    @media (min-width: 800px) and (max-width: 850px) {

        html,
        body,
        header,
        .view {
            height: 1000px;
        }
    }

    @media (min-width: 451px) and (max-width: 740px) {

        html,
        body,
        header,
        .view {
            height: 1200px;
        }
    }

    @media (max-width: 450px) {

        html,
        body,
        header,
        .view {
            height: 1400px;
        }
    }

    .intro-2 {
        background: url("https://mdbootstrap.com/img/Photos/Others/forest1.jpg")no-repeat center center;
        background-size: cover;
    }

    .top-nav-collapse {
        background-color: #3f51b5 !important;
    }

    .navbar:not(.top-nav-collapse) {
        background: transparent !important;
    }

    @media (max-width: 768px) {
        .navbar:not(.top-nav-collapse) {
            background: #3f51b5 !important;
        }
    }

    @media (min-width: 800px) and (max-width: 850px) {
        .navbar:not(.top-nav-collapse) {
            background: #3f51b5 !important;
        }
    }

    .rgba-gradient {
        background: -webkit-linear-gradient(98deg, rgba(22, 91, 231, 0.5), rgba(255, 32, 32, 0.5) 100%);
        background: -webkit-gradient(linear, 98deg, from(rgba(22, 91, 231, 0.5)), to(rgba(255, 32, 32, 0.5)));
        background: linear-gradient(to 98deg, rgba(22, 91, 231, 0.5), rgba(255, 32, 32, 0.5) 100%);
    }

    .card {
        background-color: rgba(255, 255, 255, 0.85);
    }

    h6 {
        line-height: 1.7;
    }

    #capcha {
        position: relative;
        left: -15%;
    }
</style>
<!--  body -->
<!--Main Navigation-->
<script>

    function validate() {
        return true;
    }
</script>
<header>
    <!-- Navbar -->
    {{>home/header}}
    <!-- Navbar -->
    <!--Intro Section-->
    <section class="view intro-2">
        <div class="mask rgba-gradient">
            <div class="container h-100 d-flex justify-content-center align-items-center">
                <!--Grid row-->
                <div class="row  pt-5 mt-3">
                    <!--Grid column-->
                    <div class="col-md-12">
                        <!-- Material form register -->
                        <div class="card">
                            <h5 class="card-header info-color white-text text-center py-4">
                                <strong>Change Password</strong>
                            </h5>
                            <!--Card content-->
                            <div class="card-body px-lg-5 pt-0">
                                <!-- Form -->
                                <form class="text-center" style="color: #757575;" method="POST"
                                    onsubmit="return validate();" novalidate id="frmRegister" name="frmRegister">
                                    <div class="md-form">
                                    </div>
                                    <!-- Password -->
                                    <div class="md-form">
                                        <input type="password" class="form-control" name="Old_password">
                                        <label>Old Password</label>
                                    </div>
                                    <div class="md-form">
                                        <input type="password" class="form-control" name="raw_Password">
                                        <label>New Password</label>
                                    </div>
                                    <div class="form-group">
                                        <div class="g-recaptcha mx-auto col-md-8 my-4"
                                            data-sitekey="6LffYTQUAAAAALMWZgHBUBIFoM4dELcVVoqiCItE" id="capcha"
                                            name="capcha"></div>
                                    </div>
                                    <!-- Sign up button -->
                                    <button
                                        class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0"
                                        type="submit">Update</button>
                                </form>
                                <!-- Form -->
                            </div>
                        </div>
                        <!-- Material form register -->
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
        </div>
    </section>
    <!--Intro Section-->
</header>
<!--Main Navigation-->
<link rel="stylesheet" type="text/css" href="../../assets/css/index.css">
<script src='https://www.google.com/recaptcha/api.js'></script>
<!--  /body -->
<!-- <script src="../../assets/js/online.js"></script> -->
<!-- SCRIPTS -->
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="../../assets/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="../../assets/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="../../assets/js/mdb.min.js"></script>
<script>
    new WOW().init();
</script>