<style>
    .fb-page{
        margin-left: 100px;
    }
</style>
<div class="kwidth nopd">
    <div class="footer-list">
        <div class="left-nav fl">
            <ul>
                <li>
                    
                    <h3>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Hiển thi sản phẩm</font>
                        </font>
                    </h3>
                    <a href="pdetail.html">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Khóa học lập trình</font>
                        </font>
                    </a>
                    <a href="pdetail.html">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Khóa học Thiết kế</font>
                        </font>
                    </a>
                    <a href="pdetail.html">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Khóa học giao tiếp</font>
                        </font>
                    </a>
                    <a href="pdetail.html">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Khóa học cách sống</font>
                        </font>
                    </a>
                </li>
                <li>
                    <h3>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Về chúng tôi</font>
                        </font>
                    </h3>
                    <a href="about.html">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Văn hóa </font>
                        </font>
                    </a>
                    <a href="about.html">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">doanh nghiệp Phạm vi kinh doanh</font>
                        </font>
                    </a>
                </li>
                <div class="fb-page" data-href="https://www.facebook.com/Kh&#xf3;a-h&#x1ecd;c-tr&#x1ef1;c-tuy&#x1ebf;n-106730914409474/" data-tabs="timeline" data-width="500" data-height="150" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Kh&#xf3;a-h&#x1ecd;c-tr&#x1ef1;c-tuy&#x1ebf;n-106730914409474/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Kh&#xf3;a-h&#x1ecd;c-tr&#x1ef1;c-tuy&#x1ebf;n-106730914409474/">Khóa học trực tuyến</a></blockquote></div>
            </ul>
            
        </div>
    </div>
</div>