<style>
h1 {
    font-size:200px;
	text-align:center;
  }

p{
	font-size:50px;
	text-align:center;
}
img{
width:100%;
height:720px;
}
</style>
<header>
<body>
    <div class ="main-content">
     <a href="/" target="new"><img src="https://www.hostinger.vn/huong-dan/wp-content/uploads/sites/10/2017/05/lam-the-nao-de-sua-loi-500-internal-server-error-1280x720.png"></a>		
    </div>
</body>
</header>

